<div class="products-page-container">
    <app-products-header [productsSearchValue]="productsSearchValue$ | async"
        (productsSearchValueChange)="handleProductsSearchValueChange($event)">
    </app-products-header>

    <app-products-results [isProductsLoading]="isProductsLoading$ | async"
        [productsSearchValue]="productsSearchValue$ | async" [products]="products$ | async"
        (paginatorChange)="handlePaginatorChange($event)">
    </app-products-results>
</div>