<div class="products-header-container">
    <div class="products-header-title">
        <h1>mmartan</h1>
    </div>

    <div class="products-header-search">
        <mat-form-field>
            <input matInput type="text" [(ngModel)]="value" (change)="handleProductsSearchValueEvent($event)">

            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Limpar"
                (click)="handleClearSearchEvent()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
</div>