<div class="products-results-container">
    <div class="products-results-header">
        <h2>{{ productsSearchValue || 'Produtos' }}</h2>
    </div>

    <div class="products-results-content">
        <div class="products-results-title">
            <span>{{ products?.page?.totalElements || 0 }} produtos encontrados</span>
        </div>

        <div class="products-results-table mat-elevation-z8">
            <div class="products-results-loading" *ngIf="isProductsLoading">
                <mat-spinner></mat-spinner>
            </div>

            <table mat-table [dataSource]="products?._embedded?.products">
                <ng-container matColumnDef="images">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let product">
                        <span class="product-image" *ngFor="let image of product.images?.slice(0, 3)">
                            <img [src]="image.url">
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="product">
                    <th mat-header-cell *matHeaderCellDef>Produto</th>
                    <td mat-cell *matCellDef="let product">
                        <span class="product-name">{{ product.name }}</span>
                        <span class="product-description">{{ product.description }}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef>Preço</th>
                    <td mat-cell *matCellDef="let product">
                        <span class="product-price-from">De {{ product.priceFrom | currency }}</span>
                        <span class="product-price-for">&nbsp;por {{ product.priceFor | currency }}</span>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="DISPLAYED_COLUMNS"></tr>
                <tr mat-row *matRowDef="let row; columns: DISPLAYED_COLUMNS;"></tr>
            </table>

            <mat-paginator [length]="products?.page?.totalElements || 0"
                [pageSize]="products?.page?.size || DEFAULT_PAGE_SIZE" [pageSizeOptions]="PAGE_SIZE_OPTIONS"
                (page)="handlePageChange($event)">
            </mat-paginator>
        </div>
    </div>
</div>