.products-results-header {
    padding: 0 20px;
    background-color: #e6e6e6;
    border-top: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
}

.products-results-header h2 {
    font-weight: normal;
    color: #a6a6c6;
    text-transform: capitalize;
}

.products-results-content {
    margin-top: 16px;
    padding: 0 100px;
}

.products-results-title {
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 2px solid orange;
    margin-bottom: 16px;
}

.products-results-table {
    position: relative;
    min-height: 150px;
}

.products-results-table .products-results-loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products-results-table table { 
    width: 100%;
}

.products-results-table .product-image img {
    width: auto;
    height: 70px;
    margin: 4px;
}

.products-results-table .product-name {
    display: block;
    font-weight: bold;
    font-size: 16px;
}

.products-results-table .product-description {
    color: gray;
}

.products-results-table .product-price-from {
    text-decoration: line-through;
    color: gray;
}